*{
    font-family: Helvetica;
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
}

body{
    background-color: #fff;

}
/* Barra de navegacion */
header{
    /*position:fixed;  Hace que la barra de navegacion siempre este presente*/
    top: 0;
    left: 0;
    width: 100%;
    background:#fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    padding: 1rem 9%;
    display: flex;
    align-items: center;
    justify-content:space-between; 
    /*z-index: 1000;*/
}


header .navbar a{
    font-size: 2 rem;
    margin-left: 2rem;
    color: black;
    font-weight:600;
}

.navbar .Login{
    color: white;
    background-color: #337DFF;
    padding: 10px;
    border-radius: 5px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.icono{
    height: 50px;
       
}

.productos{
    margin-left: 30px;
    color: white;
    background-color: #219EBC;
    padding: 1%;
    border-radius: 0;
    border: none;
    font-size: large;
    cursor: pointer;
}

#contenedor-principal{
    margin: 30px;
    width: 95%;
}

table{
    background-color: #fff;
    text-align: left;
    width: 100%;
    border-collapse: collapse;
}

th, td{
    border: 1px solid black;
    padding: 20px;
}

thead{
    background-color: #8ecae6;
}

tr:nth-child(even){
    background-color: #ddd;
}





/* Footer */
footer{
    width: 100%;
    padding: 50px;
    background-image:url(https://raw.githubusercontent.com/Runteams-MisionTIC/Proyecto_web/eb83b396501b5dc2a79c0dbb6b667e949c555936/media/background-footer.svg);
    background-size: cover;
    font-size: 14px;
    height: 68vh;
    
}

.container_footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
    max-width: 1200px;
    margin-top: 100px;
}

.box_footer{
    display: flex;
    flex-direction:column;
    padding: 40px;
}

.box_footer .logo_footer img{
    width: 120px;
    
}

.box_footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 14px;
}

.box_footer h2{
    margin-bottom: 20px;
    color: #343434;
    font-weight: 700;
}

.box_footer a{
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600;
}

.box_footer a:hover{
    opacity: 0.8;
}

.box_footer a .fab{
    font-size: 20px;
    flex-direction: column;

}

.box_copy{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}
.box_copy p{
    color: #7a7a7a;
    margin: 20px;
}
.box_copy hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}
