*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica";
}

body{
    background-color: #f1f1f1;
}

.container{
    width: 100%;
    height: 100vh;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container{
    width: 420px;
    display: flex;
    height: auto;
    background-color: #fff;
    box-shadow: 0 1px 1px 0 rgba(0,0,0.2);
}
.login{
    padding: 40px;
    position: relative;
}

h2{
    margin-top: 40px;
    color: #000;
    margin-bottom: 30px;
    text-align: center; 
}

.login input {
    text-align: center  ;
    width: 100%;
    font-size: 16px;
    padding: 5px;
    margin-bottom: 25px;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-color:#4A4A4A;
    
}

.login .submit{
    border: 0;
    width: 100%;
    height: 40px;
    padding: 10px;
    background-color: #337DFF;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    border-radius: 20px ;
}

.login input:active,
.login input:focus{
    outline: none;
}

p{
    text-align: center;
}
.login .avatar{
    height: 60px;
    display: block;
    margin: 0 auto;

}