*{
  font-family: Helvetica;
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
}

body{
  background-color: #fff;

}
/* Barra de navegacion */
header{
  
  left: 0;
  width: 100%;
  background:#fff;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  padding: 1rem 9%;
  display: flex;
  align-items: center;
  justify-content:space-between; 
 
}


header .navbar a{
  font-size: 2.5;
  margin-left: 2rem;
  font-weight:600;
  color:black;
}

.navbar button{
  color: white;
  background-color: #337DFF;
  padding: 10px;
  border-radius: 5px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.icono{
  height: 50px;
     
}
/* Carrucel */
.slider{
  width: 85%;
  margin: auto;
  overflow: hidden;
  height: auto;
}

.slider ul{
  padding: none;
  display: flex;
  width: 400%;

  animation:cambio 20s infinite alternate;
  animation-timing-function: ease;
}

.slider li{
  width: 100%;
  list-style: none;
}

.slider img{
  margin-top: 6rem;
  width: 100%;

}
@keyframes cambio {
  0%{ margin-left: 0;}
  20%{margin-left: 0;}

  25%{margin-left: -100%;}
  45%{margin-left: -100%;}

  50%{margin-left: -200%;}
  70%{margin-left: -200%;}

  75%{margin-left: -300%;}
  100%{margin-left: -300%;}
  
}
/* Footer */
footer{
  width: 100%;
  padding: 50px;
  background-image:url(https://raw.githubusercontent.com/Runteams-MisionTIC/Proyecto_web/c2a1bbfdb2f2d0487be6a5b7d8aed268412c25e0/media/background-footer.svg);
  background-size: cover;
  font-size: 14px;
  height: 68vh;
  
}

.container_footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
  max-width: 1200px;
  margin-top: 100px;
}

.box_footer{
  display: flex;
  flex-direction:column;
  padding: 40px;
}

.box_footer .logo_footer img{
  width: 120px;
  
}

.box_footer .terms{
  max-width: 350px;
  margin-top: 20px;
  font-weight: 500;
  color: #7a7a7a;
  font-size: 14px;
}

.box_footer h2{
  margin-bottom: 20px;
  color: #343434;
  font-weight: 700;
}

.box_footer a{
  margin-top: 10px;
  color: #7a7a7a;
  font-weight: 600;
}

.box_footer a:hover{
  opacity: 0.8;
}

.box_footer a .fab{
  font-size: 20px;
  flex-direction: column;

}

.box_copy{
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 0px 40px;
}
.box_copy p{
  color: #7a7a7a;
  margin: 20px;
}
.box_copy hr{
  border: none;
  height: 1px;
  background-color: #7a7a7a;
}