body{
  background-color: #f1f1f1;
  font-family: Helvetica;
}

.ventas{
  margin-left: 30px;
  color: white;
  background-color: #219EBC;
  padding: 1%;
  border-radius: 0;
  border: none;
  font-size: large;
  cursor: pointer;
}

/*TABLE*/

.contenedor-principal{
  margin: 30px;
  width: 95%;
}

table{
  background-color: #fff;
  position:static;
  width: 100%;
  margin: 10px;
  overflow-y: scroll;
  text-align: left;
  border-collapse: collapse;
}

th, td{
  border: 1px solid black;
  padding: 20px;
}

thead{
  background-color: #8ecae6;
}

tr:nth-child(even){
  background-color: #ddd;
}

.iconos{
  display: flex;
  justify-content:space-evenly;
}

.inputsTabla{
  border: 1px solid black;
  width:80%;
  padding: 0%;
  margin: 0%;
}
#trashCan:hover{
  color: rgba(255, 0, 0, 0.719);
  cursor: pointer;
}
#pencil:hover{
  color: blue;
  cursor: pointer;
}
#check:hover{
  color: green;
  cursor: pointer;
}
#cancel:hover{
  color: orange;
  cursor: pointer;
}



/*Fin table*/

/*Formulario ventas*/
.formulario{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.entrada{
  padding: 2vh;
  margin: 2vh;
  text-align: center;
  border: none;
  border-bottom: 1.7px solid black;
  background-color: #f1f1f1;
}
.entrada:focus{
  border: 1px solid black;
  border-radius: 10px;
  background-color: #fff;
}

#saveButton{
  padding: 2vh;
  margin: 2vh;
  color: white;
  background-color: #219EBC;
  border-radius: 0;
  border: none;
  font-size: large;
  cursor: pointer;
}
/*Fin formulario*/

/*FIN TABLE*/
